* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*:focus {
    outline: none;

}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/bgimg.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'robot', sans-serif;

}

.form {
    border: 2px solid black;
    /* width: 400px; */
    height: auto;
    color: #FFF;
    font-family: 'robot', sans-serif;
    backdrop-filter: blur(10px);
    padding: 50px 40px;
}

.heading {
    /* opacity: 0; */
    text-transform: capitalize;
    text-align: center;
    font-size: 50px;
    font-weight: 100;   
    margin-bottom: 50px;

}

input, .submit-btn{
    /* opacity: 0; */
    width:80%;
    border: 2px solid black;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    /* border:none; */
    color: #33496B;
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;


}

input::placeholder{
    color: #33496B;
}

input:focus, .submit-btn:hover{
    background: #fff;
    color: black;
}

input:focus::placeholder{
    color: black;

}

.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;

}

.link{
    /* opacity: 0; */
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color:white;
    display:block;
    margin: 30px auto;
}
.link:hover{
    color: #33496B;
}

.alert-box{
        position: absolute;
        top: -10%;
        left: 50%;
        transform: translate(-50%);
        min-width: 150px;
        max-width:90%;
        width: auto;
        padding: 10px;
        text-transform: capitalize;

        background:rgb(255, 119, 119);
        border-top: 10px solid rgb(255, 37, 37);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: black;
        font-family: 'robot',sans-serif;
        text-align: center;
        transition: 1s;

}
