*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
    position: relative;
    width: 100%;
   min-height: 100vh;
   height: auto;
   display:flex;
   justify-content: center;
   align-items: center;
   background: url('../images/bgimg.jpg');
   background-size: cover; 
   background-position: center;
   font-family: 'robot',sans-serif;


}

.container{
    position: relative;
    width: 70%;
    height: 60vh;
    display:flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logout{
     position: absolute;
     bottom: 80px;
     right: auto;
     padding: 12px 24px;
     text-transform: capitalize;
     text-decoration: none;
     cursor: pointer;
     outline: none;
     border: none;
     font-size: 1.4rem;
     background-color: black;
     border: 2px solid black;
     color: #33496B;
}
.logout:hover {
    background-color: #455E85;
    color: black;
    border: 2px solid black;
}

.greeting{
    font-family: 'dosis';
    font-size: 100px;
    color: black;
    font-weight: 800;
    text-transform: capitalize;

}
